div{
    
}


.green{
    background-color: green;
    height: 40vh;
    width: 40vh;
}

.blue{
    background-color: blue;
    height: 40vh;
    width: 40vh;


}

.pink{
    background-color: pink;
    height: 40vh;
    width: 40vh;

}

.orange{
    background-color: orange;
    height: 40vh;
    width: 40vh;

}


.red{
    background-color: red;
    height: 40vh;
    width: 40vh;

}



